{
    "allow create": {
        "!=": [
            { "var": "request.auth.signer" },
            null
        ]
    },
    "allow update": {
        "and": [
            {
                "!=": [
                    { "var": "request.auth.signer" },
                    null
                ]
            },
            {
                "==": [
                    { "var": "resource.data.walletAddress" },
                    { "var": "request.auth.signer" }
                ]
            }
        ]
    },
    "allow delete": false
}
