{
    "type": "object",
    "required": [
        "contract",
        "image_url",
        "profileName",
        "bio",
        "walletAddress",
        "ipfsUrl",
        "profilePicUrl"
    ],
    "properties": {
        "identifier": {
            "type": "string"
        },
        "collection": {
            "type": "string"
        },
        "contract": {
            "type": "string"
        },
        "token_standard": {
            "type": "string"
        },
        "name": {
            "type": "string"
        },
        "description": {
            "type": "string"
        },
        "image_url": {
            "type": "string"
        },
        "metadata_url": {
            "type": "string"
        },
        "is_disabled": {
            "type": "boolean"
        },
        "is_nsfw": {
            "type": "boolean"
        },
        "opensea_url": {
            "type": "string"
        },
        "profileName": {
            "type": "string"
        },
        "bio": {
            "type": "string"
        },
        "walletAddress": {
            "type": "string"
        },
        "ipfsUrl": {
            "type": "string"
        },
        "profilePicUrl": {
            "type": "string"
        },
        "created_at": {
            "type": "string"
        },
        "updated_at": {
            "type": "string"
        },
        "twitterHandle": {
            "type": "string"
        }
    }
}